.brand{
width:260px;
}


.brand img{
width:85px;
height:85px;
}



.header{
height:95px;
}



.menu{
position:absolute;
left:50%;
transform:translateX(-50%);
}



.chatPanel{

position:fixed;

right:-350px;

top:95px;

width:330px;

height:500px;

background:#0d0815;

border-left:1px solid #3b2160;

transition:.3s;

}



.chatPanel.active{

right:0;

}



.chatHeader{

padding:20px;

font-weight:bold;

border-bottom:1px solid #333;

display:flex;

justify-content:space-between;

}



.chatBody{

text-align:center;

padding:50px;

}



.chatBody button{

background:#7c3aed;

color:white;

border:0;

padding:12px 30px;

border-radius:8px;

}



.modal{

display:none;

position:fixed;

inset:0;

background:rgba(0,0,0,.7);

align-items:center;

justify-content:center;

}



.modal.active{

display:flex;

}



.box{

background:#111;

padding:30px;

border-radius:15px;

width:350px;

text-align:center;

}



.box input{

width:100%;

padding:12px;

margin:10px 0;

background:#222;

border:1px solid #444;

color:white;

border-radius:8px;

}



.box button{

margin:5px;

padding:10px 20px;

background:#7c3aed;

color:white;

border:0;

border-radius:8px;

}
